


 .offers {
  padding: 40px;
  background: #eef7f2;
}

.offers-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.offers-head h2 {
  font-size: 28px;
}

.offers-head p {
  color: #555;
}


.offer-list {
  display: flex;
  justify-content: space-around;
}

.card {
  background: #fff;
  width: 260px;
  padding: 15px;
  border-radius: 14px;
  position: relative;
  flex-shrink: 0;
  
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 20px;
}

.off {
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
}

.wish {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
}

.card h4 {
  font-size: 15px;
  margin-bottom: 4px;
}

.brand {
  color: #777;
  font-size: 14px;
}

.price {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px 0;
}

.new {
  font-size: 18px;
  font-weight: bold;
}

.old {
  text-decoration: line-through;
  color: #888;
}

.save {
  color: #1aa053;
  font-size: 14px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
} 