.logo{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: green;
    padding-right: 50px;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* top: 20px; */
    background-color: rgb(185, 235, 171);
    /* bottom: 15cm; */
    /* padding: 0 30px; */
    
}
.nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-right: 5cm;
    color: black;

}
.nav ul li{
    list-style: none;
    font-size: 18px;
}
.nav ul li:hover{
    color: orange;
    cursor: pointer;

}

.search-box {
  display: flex;
}

.search-box input {
  padding: 7px 10px;
  outline: none;
  border: none;
}

.search-box button {
  background: orange;
  border: none;
  padding: 7px 15px;
  color: white;
  cursor: pointer;
}
.actions{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}