.line {
  border: none;
  height: 2px;
  background-color: green;
  width: 100%;
  margin: 25px 0;
}

.category-section {
  text-align: center;
  padding: 50px 50px;
  background: #fff;
  position: relative;
  bottom: 80px;
}



.title {
  font-size: 32px;
  color: #3a5f0b;
  padding-top: 50px;

}

.category-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-card img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.category-card img:hover {
  transform: scale(1.05);
}

.category-card p {
  margin-top: 15px;
  font-size:18px;
  font-weight: 500;
  color: #333;
}
