.ad{
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    overflow: hidden;
    margin-bottom: 50px;

}
.ad-title{
    padding: 50px;
    text-align: center;
}





.add-img-sec{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 250px;
    height:250px;
    gap: 50px;
    padding: 0px 10px 0px 50px;
    /* overflow: hidden; */
}