.icon-section {
  width: 100%;
  height: 400px;
  color: white;
  background: linear-gradient(180deg, #45bd9b, #0a2f25);
  margin-top: 50px;
}

.count-title {
  text-align: center;
  padding: 60px;
  font-weight: bold;
}

.count-icon {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.count-icon-sec {
  text-align: center;
}

.icon-title {
  font-size: 50px;
  font-weight: 600;
}

.icon-subtitle {
  font-size: 18px;
}
