.home{
    padding:10px 30px 50px 30px;
    margin-top: 50px;
    
}
.grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}
.home h2{
    padding-bottom: 10px;
}
.roll{
    padding-bottom: 50px;

}

