.card{
    background:#fff;
    border:1px solid #ddd;
    padding:20px;
    border-radius:8px;
    text-align:left;
}
.card img{
    height:160px;
    object-fit:contain;
    width:100%;
    cursor:pointer;
}
.off{
    width: 40%;
    background-color: orange;
    color: white;
    border-radius: 18px;
    padding: 2px 0px 0px 4px;
    font-size: 15px;
}
.brand{
    color:#666;
    font-size:14px;
    line-height: 25px;
}
.price span{
    text-decoration:line-through;
    color:#888;
}
button{
    margin:5px;
    width:100%;
    padding:8px;
    border-radius:6px;
    border:none;
    cursor:pointer;
}
.view{
    background:orange;
    color:#fff;
}
