.modal-bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#0008;
    display:flex;align-items:center;justify-content:center;z-index: 9000;}
.modal-box{background:#fff;padding:20px;width:350px;border-radius:10px;text-align:center;position:relative;}
.close{position:absolute;right:10px;top:10px;border:none;background:none;font-size:22px;}
.qty button{width:30px;height:30px;}
.add{background:green;color:#fff;padding:10px;width:100%;border-radius:6px;}
