

.footer {
  width: 100%;
  height: 400px;
  padding-top:100px;
  background: linear-gradient(180deg, #0c3b2e, #0a2f25);
  color: #fff;
  padding-right: 20px;
  padding-left: 50px;
  font-family: sans-serif;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #7CFF00;
}

.logo-col .logo {
  font-size: 28px;
  margin-bottom: 20px;
}

.logo-col p {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

.contact li {
  cursor: default;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 14px;
  color: #ccc;
}
