.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  padding: 100px;
  background: #f9f9f9;
}

.card {
  width: 200px;
  height: 250px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
   box-sizing: border-box;
   overflow: hidden;
   

}

.card:hover {
  transform: translateY(-6px);
}

.weight {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 13px;
  font-weight: 600; 
} 

.card img {
  width:100%;
  object-fit: cover;
  display: block;
  /* height: 120px; */
  /* border-radius: 10%; */
}

.category {
  font-size: 13px;
  color: #888;
}

.card h4 {
  font-size: 15px;
  padding-top: 40px;
}

.price {
  font-size: 13px;
  color: #555;
} 

.price span { 
  color : red;
  text-decoration: line-through;
  margin-left: 5px;
}
